<html>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
      <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
    <br><br>
    <!-- <h1 align="center">Admin Home</h1> -->
    <div class="container">
      <br>
      <div class="row">
        <div class="col-sm-5">
      <!-- <mat-card class="cards"> -->
          <img mat-card-image class="cards" src="../../../../assets/images/Good-Handshake.jpg">
          <br>
          <br>
        <!-- <mat-card-content align="center" class="content1">
            <h4>Add Partner</h4>
            <p>To add new partner click add partner</p>
            <br>
            <button mat-raised-button color ="primary" (click)="btnClick()" >Add Partner</button>
        </mat-card-content> -->
      <!-- </mat-card> -->
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <!-- <mat-card class="cards1">
            <img mat-card-image src="../../../../assets/images/find-customers-500.jpg">
            <br>
            <br>
          <mat-card-content align="center" class="content1">
              <h4>Display Partners</h4>
              <p>To display partners click display partners</p>
              <button mat-raised-button color="primary" (click)="Back()" >Display Partners</button>
          </mat-card-content>
        </mat-card> -->
        <div class="div1">
        <h4>We needed to find a better Partner,<br> One that better understands our values.</h4>
        <br>
        <button mat-raised-button color ="primary" (click)="btnClick()" >Add Partner >></button>
      </div>
      </div>
    </div>
    <div class="row">
        
    <br><br><br>
    <div class="col-sm-5">
        <div class="div2">
        <h4>Life's a journey.<br> Pick a partner that'll be with you all the way</h4>
        <br>
        <button mat-raised-button color="primary" (click)="Back()" >Display Partners >></button>
      </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
          <img mat-card-image class="cards1" src="../../../../assets/images/find-customers-500.jpg">
          <br>
          <br>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
          <img mat-card-image class="cards" src="../../../../assets/images/remove1.png">
          <br>
          <br>
    </div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <div class="div1">
        <h4>Sometimes removing <br>some peopleout of your life makes room for better people.</h4>
        <br>
      <button mat-raised-button color ="primary" (click)="Remove()">Remove Partner >></button>
      </div>
      </div>
    </div>
    <div class="row">
        
      <br><br><br>
      <div class="col-sm-5">
          <div class="div2">
            <h4>Every Company's greatest assets <br> are its customers</h4>
            <br>
          <button mat-raised-button color="primary" (click)="displayUsers()" >Display Users >></button>
        </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <img mat-card-image class="cards1" src="../../../../assets/images/find-customers-500.jpg">
            <br>
            <br>
      </div>
      </div>
  </div>
<!-- <app-footer></app-footer> -->
  </body>
  </html>
    <!-- <section>
        <div class="container">
            <div class="card" style="width:400px">
              <img class="card-img-left" src="../../../../assets/images/Good-Handshake.jpg" alt="Card image" style="width:100%">
              <hr>
              <div class="card-body" align="center">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <button mat-raised-button color ="accent" (click)="btnClick()" >Add Partner</button>
              </div>
            </div>
          <div class="card" style="width:400px">
           <div class="card-body" align="center">
            <h4 class="card-title">Jane Doe</h4>
            <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
            <button mat-raised-button color="accent" (click)="Back()" >Display Partners</button>
          </div>
            <img class="card-img-right" src="../../../../assets/images/find-customers-500.jpg" alt="Card image" style="width:100%">
          </div>
        </div>
    </section> -->
    