 /* header{
    width:100%;
} 
.mat-option{
    color:white;
    background-color: black;
}
.mat-option:hover{
    background-color: blue
} */
.cards{
    /* margin-top: 60px;
    margin-left: 200px; */
    width:55vh;
    height: 42vh;
    background-color:rgb(240, 244, 245);
    color: rgb(37, 37, 36);
}
.cards1{
    /* margin-top: 60px;
    margin-left: 100px; */
    width:55vh;
    height: 42vh;
    background-color:rgb(240, 244, 245);
    color: rgb(37, 37, 36);
}

.div1{
    margin-top: 85px;
    /* margin-left: 100px; */
    width:50vh;
    height: 38vh;
    text-align: center;
    padding: 12px;
    letter-spacing: 2px;
}
.div2{
    margin-top: 85px;
    /* margin-left: 200px; */
    width:50vh;
    height: 38vh;
    text-align: center;
    padding: 12px;
    letter-spacing: 2px;
}
button{
    text-align: center;
    border-radius: 8px;
    letter-spacing: 2px;
    width: 200px;
    height: 50px;
} 
/* h1{
    padding: 8px;
    letter-spacing: 3px;
    color: rgb(70, 73, 70);
    font-family:serif;
    font-size: 6rem;
    text-shadow: -3px 3px 0px #797c7c,
                 -5px 5px 0px #646868,
                 -7px 7px 0px #565858;
    
} */
/* h1 {
    margin-left: 460px;
    margin-right: 460px;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 30px;
    line-height: 40px;
    border: 1px solid rgba(56, 55, 55, 0);
    padding: 8px 15px;
    color: rgb(59, 58, 58);
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(205, 109, 224, 0.801);
    font-family: 'Muli', sans-serif;
} */
img{
    border-radius: 5px;
}
body{
    background-color: rgb(240, 236, 236); 
}