<!-- <footer class="footer"> -->
   <!-- <br>
   <br>
   <div align="center" class="row">
     <div class="col">
      Emergency details...<br>
      Mobile:123456789<br>
       address:edrtfyuio<br><br>
     </div><br>
     <div class="col">
         contact details...<br>
         Mobile:123456789<br>
          address:edrtfyuio<br><br>
        </div><br>
          <div class="col">
           service details...<br>
           Mobile:123456789<br>
            address:edrtfyuio<br><br>
         </div>
         <br>
         <br>
   </div> -->
    <!-- <div class="foot" align="center">
      <br>
       Find My Room <br>
       @Copyright 2019 FindMyRoom | All rights reserved.
       <br><br>
   </div>
      
  </footer> -->
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Find My Room</h6>
          <p>Here you can rent a flat/PG as well as the users can also find a flat/PG.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <!-- <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Become a Partner?</a>
          </p>
          <p>
            <a href="#!">Become a User?</a>
          </p> -->
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> FindMyRoom Ltd, Bhubaneshwar</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> findmyroom@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 91 9912345678</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <!--  <div class="col-md-6 col-lg-6"> -->
          <!--Copyright-->
          <p class="text-center text-md-left">&copy; 2019 Copyright:
            
              <strong> FindMyRoom</strong>
          </p>
        </div>
        <br><br>
        <br><br>
        </div>
        </div>
      <!-- Grid row -->
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->

