<!--The content below is only a placeholder and can be replaced.-->
<!-- <a routerLink='/addroom' >AddRoom </a> -->
<!-- <div align="center">-->

<app-header></app-header>
<router-outlet></router-outlet>
<ng-http-loader 
    [backdrop]="true"
    [backgroundColor]="'#DC143C'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [opacity]=".8"
    [spinner]="spinkit.skRotatingPlane" >
</ng-http-loader>


<!-- <span class="fTab">Open Footer</span>
	<footer>
  <p>
  Hello, Welcome to Mindtree
  </p>
    </footer> -->


