<div>
  <br>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">

        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade">
                <img class="card-img-top" src="/assets/images/partnerhomeimage1.jpg" style="width:350px; height:220px"
                    alt="partnerhomeimage1">
                <a>
                    <div class="mask img-gradient"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Label -->
                <h5 class="pink-text pb-2 pt-1" align="center"><i class="fa fa-cutlery"></i> Flat/PG</h5>
                <!-- Title -->
                <h4 class="font-weight-bold card-title" align="center">Add Flat/PG</h4>
                <!-- Text -->
                <p class="card-text" align="center">To add the Flat/PG details, you can click the below ADD button</p>
                <!-- Button --> 
                <a class="btn btn-unique" align="center" (click)="openDialog()" style="color: white; background-color: rgb(246, 47, 246)" >ADD</a> 
                <!-- <button (click)="openDialog()" align="center" style="color: white; background-color: rgb(246, 47, 246)" ></button> -->
              </div>
        </div>
    </div>
    <div class="col-sm-4">

        <div class="card card-cascade narrower">

            <!-- Card image -->
            <div class="view view-cascade">
                <img class="card-img-top" src="/assets/images/partnerhomeimage2.jpg" style="width:350px; height:220px"
                    alt="Card image cap">
                <a>
                    <div class="mask img-gradient"></div>
                </a>
            </div>
        
            <!-- Card content -->
            <div class="card-body card-body-cascade">
        
                <!-- Label -->
                <h5 class="pink-text pb-2 pt-1" align="center"><i class="fa fa-cutlery"></i>Customers</h5>
                <!-- Title -->
                <h4 class="font-weight-bold card-title" align="center">Show Customers</h4>
                <!-- Text -->
                <p class="card-text" align="center">You can View the Customers List, Click on the SHOW button </p>
                <!-- Button -->
                <a class="btn btn-unique" align="center" routerLink="/features/partner/displaycustomer" style="color: white; background-color: rgb(246, 47, 246)" >SHOW</a>
            </div> 
        </div>


    </div>
    <div class="col-sm-4">

        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade">
                <img class="card-img-top" src="/assets/images/partnerhomeimage3.jpg" style="width:350px; height:220px"
                    alt="Card image cap">
                <a>
                    <div class="mask img-gradient"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Label -->
                <h5 class="pink-text pb-2 pt-1" align="center"><i class="fa fa-cutlery"></i> View</h5>
                <!-- Title -->
                <h4 class="font-weight-bold card-title" align="center">View your Property</h4>
                <!-- Text -->
                <p class="card-text" align="center">To View your Flat/PG details, you can click the below VIEW button</p>
                <!-- Button --> 
                <a class="btn btn-unique" align="center" (click)="viewProperties()" style="color: white; background-color: rgb(246, 47, 246)" >VIEW</a>
            </div>
        </div>
    </div>

  </div>
</div>



<section id="about" class="py-5">
    <!-- Container -->
    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">Customers are our Business</h2>
        <!-- Section description -->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">Building relationships from the Customers to the Collaborative Partners</p>
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">People Own from the People they Trust</p>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5 text-center text-lg-left">
                <img class="card-img-top" src="/assets/images/partnerhomeimage4.JPG" style="width:320px; height:260px" alt="Sample image">
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Grid row -->
                <div class="row mb-3">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Transparent</h5>
                        <p class="grey-text">Transparency is a key way of creating trust because 
                          it helps eliminate any suspicions or anxieties 
                          your customers might have about the value of what you're offering. 
                          </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Reliable</h5>
                        <p class="grey-text">Reliable Customer Services will increase your Business in a very efficient way.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Trustworthy</h5>
                        <p class="grey-text mb-0">Be Transparent, focus on the medium to long-term on relationships, not one-off transactions</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </div>
            <!--Grid column-->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Container -->
</section>
<!-- <app-footer></app-footer> -->

<!--Section: about-->